body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logout-element{
  background-color: rgb(2, 4, 83);;
  display: flex;
}
.logout-element-btn{
  background-color: #80bbf6;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  color: rgb(2, 4, 83));
}
.company-head-name{
  font-size: large;
  margin-left: 15px;
  width: 90%;
  text-align: left;
  color: #80bbf6;
}
.sign-in-up{
  display: flex;
  justify-content: center;
}
.sign-up, .sign-in{
  width: 10%;
  margin: 10px;
  padding: 20px;
}

.nav-bar{
  padding: 5px;
  width: 90%;
  border-radius: 10px;
  margin: 2px;
}

.main-page-div-parent{
  width: 100% !important;
  height: 100% !important;
}

.main-page-div{
  width: 100% !important;
  height: 100vh !important;
}

.main-div{
  display: flex;
  width: 100%;
  height: 100% !important;
  background-color: rgba(77, 104, 227, 0.68);
}
.main-div-sub{
  width: 10%;
  justify-content: center;
  background-color: #29298a;
  min-width: 110px;
}
.item-pointer{
  display: block;
  cursor: pointer;
  text-align: left;
  margin: 5px;
  font-size: 15px;
  width: 60%;
}
.item-pointer:hover{
  color: #1010ea;
}
.main-div-sub-list{
  width: 90%;
  height: 100%;
}


.item-detail-name, .item-detail-address,
.item-detail-contact{
  padding: 5px;
  margin: 5px;
  background-color: #80bbf6;
  border-radius: 5px;
  text-align: left;
}
.item-detail-name{
  height: 25% !important;
  text-align: center;
}
.item-detail-add-mem{
  margin: 0px;
  padding: 0px;
}
.item-detail-contact{
  font-size: medium;
  width: 50%;
}
.item-detail{
  width: 35%;
}

a {
  display: block;
  /* background-color: rgb(216, 214, 219); */
  margin: 5px;
  padding: 10px;
  text-shadow: aqua;
  border: solid rgb(0, 170, 255);
  border-radius: 10px;
  font-size: medium;
  text-decoration: none;
  background-color: #80bbf6ce;
}
a:active{
  background-color: rgb(0, 204, 255);
  box-shadow: 5px 5px 5px 5px rgba(25, 173, 193, 0.996);
  transform: translateY(1px);
}
a:focus{
  background-color: rgb(0, 217, 255);
}

.sup-div{
  display: flex;
  width: 100%;
  height: 100%;
  float: right;
/*------------- Line -----------------*/
  /* background-image: linear-gradient(
    to right,
    rgb(47, 21, 193),
    white 35%,
    white 65%,
    rgb(164, 8, 34)
); */
background-repeat: no-repeat;
background-size: 100% 2px;
background-position: 0 center;
}
html{
  width: 100%;
  min-width: 800px;
}
/* ***********Member*********** */
.member-heading{
  font-size: large;
  color: #80bbf6;
}
.member-remove-button{
  display: flex;
  background-color: #80bbf6;
  padding: 2px;
  margin: 2px;
}
.member-list-balance{
  margin: 5px;
}
.member-list{
  width: 35%;
  background-color: #1d40ab98;
  color: #01011d;
}

.memeber-detail-parent{
  width: 100%;
}
.member-add-button{
  display: flex;
  justify-content: center;
}
.member-details{
  background-color: rgba(59, 90, 229, 0.422);
}

.member-list-name{
  background-color: #29298a;
}

/*------------Memeber Details----------------*/
.parent-member-details{
  width: 100%;
}
.member-details{
  display: flex;
  color: #01011d;
}
.member-remove-button-x{
  padding: 5px;
  margin: 5px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.member-remove-button-x:hover{
  background-color: red;
}


/* ---------------item table-----------*/
.pro-table{
  width: 100%;
  color: #04043a;
}
.pro-table-div{
  width: 100%;
}
.pro-date{
  width: 15vh;
  font-size: small;
  text-align: left;
}
.pro-bill{
  width: 20vh;
  font-size: small;
  text-align: left;
}
.pro-name{
  width: 50vh;
  font-size: small;
  text-align: left;
}
.pro-quantity{
  width: 15vh;
  font-size: small;
  text-align: left;
}
.pro-price{
  width: 15vh;
  font-size: small;
  text-align: left;
}
.pro-total{
  width: 20vh;
  font-size: small;
  text-align: left;
}

th{
  background-color: #29298a;
  padding: 5px;
  color: #80bbf6;
}
td{
  padding: 0px 5px 0px 5px;
}
tr:hover{
  background-color: #80bbf6;
  border: solid rgb(200, 177, 177);
}

/* Home Page Style */
.home-page-elements-parent{
  width: 100%;
}

.home-page-elements{
  background-color: #e5d4eb51;
  height: 98%;
  border-radius: 10px;
  margin: 5px;
}

.hom-nav-bar{
  background-color: #0088ff;
  margin: 5px;
  padding: 15px;
  border-radius: 40px;
  width: 130px;
  border-top: #e0b114;
  box-shadow: 0 5px black;
  cursor: pointer;
}
.hom-nav-bar:hover{
  background-color: rgb(0, 217, 255);
}
.hom-nav-bar:active{
  box-shadow: 0 5px rebeccapurple;
  transform: translateY(4px);
}

input{
  background-color: #9be5e10a;
  border-radius: 5px;
  height: 30px;
}
label{
  font-size: medium;
  margin-left: 10px;
  margin-right: 10px;
}
select{
  background-color: #9be5e10a;
  border-radius: 5px;
  height: 30px;
}
.form-details-title{
  font-size: medium;
  font-style: italic;
}

/* *********** Forms************* */
.enter-bill-form-parent{
  background-color: #0088ff;
  text-align: center;
  display: block;
  justify-content: center;
  
}
#enter-bill-form{
  margin: 10px;
  width: 50%;
  background-color: #d8d6cc1c;
  justify-content: center;

}
/* **************Sign in/up ************** */
.sign-in-up{
  display: block;
  max-width: 500px;
  justify-content: center;
  min-height: 500px;
  text-align: center;
}
.sign-in-up-btn{
  padding: 5px;
  margin: 10px;
  width: 70px;
}
.sign-in-up-form-title{
  padding: 10px;
}
.sign-in-up-form-lbl{
  width: 35%;
}
.sign-in-up-form-input{
  margin: 10px;
  width: 50%;
}
.sign-in-up-form-input:focus{
  background-color: #fff70050;
}
.login-form-parent, .signUp-form-parent{
  display: block;
  width: 80%;
  background-color: #e0fbff9b;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 300px;
}
.sign-in-up-form-btn{
  padding: 5px;
  margin: 5px;
}
.login-form{
  display: inherit;
}
.App{
  display: flex;
  justify-content: center;
}
.sign-in-up-btn-parent{
  background-color: #2d6ba2;
  display: flex;
  justify-content: center;
  width: 70vh;
}
.error-msg{
  color: #2d6ba2;
}