body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign-in-up{
  display: flex;
  justify-content: center;
}
.sign-up, .sign-in{
  width: 10%;
  margin: 10px;
  padding: 20px;
}

.nav-bar{
  padding: 5px;
  width: 90%;
  border-radius: 10px;
  margin: 2px;
}

.main-page-div-parent{
  width: 100% !important;
  height: 100% !important;
}

.main-page-div{
  width: 100% !important;
  height: 100vh !important;
  background-color: red;
}

.main-div{
  display: flex;
  width: 100%;
  height: 100% !important;
  background-color: #f0f2f4;
}
.main-div-sub{
  width: 10%;
  border: solid #2b57b66e;
  justify-content: center;
}
.item-pointer{
  display: block;
  cursor: pointer;
  text-align: left;
  margin: 5px;
  font-size: 15px;
  
}
.item-pointer:hover{
  background-color: rgba(250, 235, 215, 0.152);
  text-shadow: 1px 2px 1px #01011d;
}
.main-div-sub-list{
  width: 90%;
  height: 100%;
}
 
.member-list{
  width: 30%;
  border: #637db76e solid;
  margin: 0 2px 0 2px;
  color: #01011d;
}

.memeber-detail-parent{
  width: 100%;
}
.member-add-button{
  display: flex;
}

a {
  display: block;
  background-color: rgb(216, 214, 219);
  margin: 5px;
  padding: 10px;
  text-shadow: aqua;
  border: solid orange;
  border-radius: 10px;
  font-size: medium;
  text-decoration: none;
}

.sup-div{
  display: flex;
  width: 100%;
  height: 100%;
  float: right;
/*------------- Line -----------------*/
  /* background-image: linear-gradient(
    to right,
    rgb(47, 21, 193),
    white 35%,
    white 65%,
    rgb(164, 8, 34)
); */
background-repeat: no-repeat;
background-size: 100% 2px;
background-position: 0 center;
}
html{
  width: 100%;
}

/*------------Memeber Details----------------*/
.parent-member-details{
  width: 100%;
}
.member-details{
  display: flex;
  color: #01011d;
}
.item-detail-contact{
  width: 35%;
  font-size: medium;
  border: solid;
  height: 10%;
  margin-top: 20%;
}

/* ---------------item table-----------*/
.pro-table{
  width: 100%;
  color: #04043a;
}
.pro-table-div{
  width: 100%;
}
.pro-date{
  width: 15vh;
  font-size: small;
  text-align: left;
}
.pro-bill{
  width: 20vh;
  font-size: small;
  text-align: left;
}
.pro-name{
  width: 50vh;
  font-size: small;
  text-align: left;
}
.pro-quantity{
  width: 15vh;
  font-size: small;
  text-align: left;
}
.pro-price{
  width: 15vh;
  font-size: small;
  text-align: left;
}
.pro-total{
  width: 20vh;
  font-size: small;
  text-align: left;
}
tr:hover{
  background-color: #89a043;
  border: solid snow;
}
th{
  background-color: rgba(42, 33, 45, 0.533);
  padding: 5px;
  box-shadow: rgba(193, 109, 25, 0.996);
}